.nav {background-color: rgb(165, 93, 247);
font-size: 20px;
text-align: center;}
.logo {background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;}
    .body{background-color: rgb(212, 208, 247);}